<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Task</th>
        <th>Parent</th>
        <th>Priority</th>
        <th>Start</th>
        <th>End</th>
        <th>Edit</th>
        <th>Edit Task</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="card">
            <div class="card-body">Basic card</div>
          </div>
        </td>
        <td>Anna</td>
        <td>Pitt</td>
        <td>35</td>
        <td>New York</td>
        <td>USA</td>
        <td>Female</td>
      </tr>
    </tbody>
  </table>
</div>